@page
@model BookWormsOnline.Pages.LoginModel
@{
    var RecaptchaSiteKey = "6LeKsGMpAAAAACgUJ6eN8KfMv6rjnURY2GgPTwUr";
} <script>
      function onSubmit(token) {
          document.getElementById("demo-form").submit();
      }
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://www.google.com/recaptcha/api.js?render=@RecaptchaSiteKey"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <h1 class="mb-3">Login</h1>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="LModel.Email">Email Address</label>
                        <input type="text" asp-for="LModel.Email" class="form-control" />
                        <span asp-validation-for="LModel.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="LModel.Password">Password</label>
                        <input type="password" asp-for="LModel.Password" class="form-control" />
                        <span asp-validation-for="LModel.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
                        <label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
                    </div>
                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
                    <div class="mb-3">
                        <button type="submit"
                            class="g-recaptcha"
                                data-sitekey="reCAPTCHA_site_key"
                                data-callback='onSubmit'
                                data-action='submit'>
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            grecaptcha.ready(function () {
                grecaptcha.execute('@RecaptchaSiteKey', { action: 'login' }).then(function (token) {
                    document.getElementById('g-recaptcha-response').value = token;
                });
            });
        });
    </script>
</body>
</html>
